::-webkit-scrollbar {
  display: none;
}

/* Colors */

:root {
  --color-yellow: #F1C40F;
  --color-blue: #0eaa9f;
  --bg: #7f5da1;
  --fg: #ECF0F1;
  --sidebar: #641ea1;
}

/* Page */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: Georgia, Courier, monospace;
  display: flex;
  flex-direction: row;
  line-height: 1.6;
  min-height: 100vh;
}

#game {
  align-items: center;
  display: flex;
  flex: 1;
}

#sidebar {
  background-color: var(--sidebar);
  position: absolute;
  display: flex;
  width: 100%;
}

header,
main {
  padding: 5px 20px;
}

main {
  flex: 1;
  padding-bottom: 0;
  padding-top: 20px;
}

/* Page content */

canvas {
  border: 15px solid var(--color-yellow);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-yellow);
  line-height: 1.2;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  min-width: 6rem;
  margin: 0 0.5em;
}

.control {
  color: var(--color-blue);
  font-weight: bold;
}